<!doctype html>
<html lang="ru">
<head>
  <title>Vote</title>
  <link rel="stylesheet" href="./static/css/style.css"/>
</head>
<body>
    <div>
        <div class="content center">
            <h1>Welcome!</h1>
            <hr>
            <p>Это маленький и очень простой сайт</p>
            <ul>
                <li>Автор: {{ author }}</li>
                <li>Количество страниц: {{ pages }}</li>
                <li><form class="inline" action="../time"><input type="submit" value="Time" /></form>
</li>
            </ul>
        </div>
    </div>
</body>>
</html>
